priority 20

snippet mod "module" b
module $1
	$2
end module $1
endsnippet

snippet sub "subroutine" b
subroutine $1($2)
	$3
end subroutine $1
endsnippet

snippet impl "implicit none" b
implicit none
$1
endsnippet
